* {
    margin: 0;
    padding: 0;
}
html {
    scroll-behavior: smooth;
}

body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;

}
.body {
    background-image: url(./images/Background.png);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.2/font/bootstrap-icons.css");


header {
    background-color: rgb(0, 0, 0);
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    z-index: 6;
}

main {
    
    justify-content: center;
    align-items: center;
}

.navbar {
    margin-right: 20px;
}

.navbar ul li {
    display: inline-block;
    justify-content: center;
    align-items: center;
    margin-left: 20px;
    font-style: italic;
    font-weight: bold;
    font-size: 15px;
}

a{
    display:flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: white;
}

a:hover{
    text-decoration: underline;
    scroll-behavior: smooth;
    color:red;
}
.logo {

    display: inline-block;
    align-items: center;
    color: white;
    margin-left: 20px;
}

.logo h1{
    margin-left: 120px;
}

.container {
    border: solid 1px grey;
    border-radius: 20px;
    text-align: center;
    padding: 10px;
    margin: 15px;
    color:rgb(0, 0, 0);
}

.container h2 {
    
    margin-top: 20px;
    margin-bottom: 20px;
    
}   

.container p {
    margin-top: 10px;
    justify-content: center;
    font-size: 18px;
    margin-bottom: 10px;
    color:white;
}

.mainPic {
    display:flex;
    background-image: image(background);
    width: 100%;
    height: 1000px;
    object-fit:fill;
}

.photoGallery {
    width: 100%;
    height: 500px;
    object-fit: cover;

}

/* .photoGallery:hover {
    filter: grayscale(100);
    z-index: 5;
}
 */
.gridFather {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: auto;
    grid-template-areas: 
    "picOne" "picTwo" 
    "picThree" "picFour";
    
}

.picOne {
    grid-area: picOne;
}

.picTwo {
    grid-area: picTwo;
}

.picThree {
    grid-area: picThree;
}

.picFour {
    grid-area: picFour;
}


.Illustrations{
    display: flex;
    width:fit-content;
    

}


.negrita {
    color: rgb(99, 97, 97);
    font-style: italic;
    font-weight: bold;
}

.container__footer{

    display:grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    align-content: space-between;
    align-items:center;
    text-align: center;
    background-color: black;
    color: white;
}
.iconos{
    
    padding-top: 10px;
}

.iconos a:hover {
    color:rgb(99, 97, 97);
}

/* h2{
    margin: 50px;
    margin-left: 150px;
    align-items:center;
    border: solid 1px color red;
} */

h5{

    padding-top:10px;
}
h6{
    font-size: 12px;
    padding-bottom: 100px;
    margin-left: 100px;
    margin-top: 125px;
}

.aboutMe {
    display: flex;
    
}

video{

    display: inline;
    height: 300px;
    margin:15px;
    margin-top:90px;
}
.paragraph {
    display: inline-block;
    text-align: justify;
    width: 55%;
    font-size: 17px;
    color: rgb(99, 97, 97);
    margin: 5px;

}

.carousel-inner{
    width:500px;
    height:500px;
}
.firstP{
    padding-top: 20px;
}
.secondP{
    padding-top: 20px;
    padding-bottom: 20px;
}

.contact {
    display: inline-flex;
    flex-direction: column;
    padding: 15px;
    justify-content: center;
}

.contact p {

    padding-top:25px;
    padding-bottom: 25px;
}

.foto2{
    width: 150px;
    height: 150px;
}


/* mobile look */
@media only screen and (max-width: 599px) {
    .mainPic{
        display:none;
    }
    header{
        background-color: lightcoral;
    }
    .container__footer{
        background-color: lightcoral;
    }
    .gridFather{
        display:grid;
        grid-template-rows: 1fr 1fr 1fr 1fr;
        grid-template-columns: 1fr;
        grid-template-areas: 
        "picOne" 
        "picTwo" 
        "picThree" 
        "picFour";
    }

    .aboutMe{
        display:inline-block;
        text-align: center;
    }
}

/* tablet/desktop */
@media only screen and (min-width: 600px) and (max-width: 1023px){
    .gridFather {
        display:grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-rows: auto auto auto auto;
        grid-template-areas: 
        "picOne" "picTwo" 
        "picThree" "picFour";
    }
}